footer{
	width: 1366px;
	height: 46px;
	background: #eee;
	float: left;
	margin-top: 41px;
}

.copyrighter{
	float: left;
	margin-top: 10px;
	margin-left: 90px;
	font-size: 13px;
	font-family: Calibri;
}

.owner{
	float: left;
	margin-top: 5px;
}

.author{
	margin-left: 40px;
	float: left;
	margin-top: 5px;
}

.author a{
	color: #777;
}

.author a:hover{
	color: #C03;
}

.references{
	width: 540px;
	height: 25px;
	margin-top: 10px;
	font-size: 13px;
	font-family: Calibri;
	float: right;
}

ul{
	display: block;
}

ul.foot_menu{
	float: left;
	margin-top: 5px;
}

ul li{
	display: inline;
}

ul.foot_menu li{
	height: 10%;
	padding: 0 10px;
	border-right: 1px solid black;
}

ul li.none_border{
	border: none;
}

ul li a{
	color: black;
}

ul li a:hover{
	text-decoration: underline;
}

.share{
	width: 200px;
	height: 25px;
	float: right;
}

.share a div{
	margin-top: 1px;
	width: 22px;
	height: 21px;
	float: left;
	margin-left: 8px;
}

.share a div#bird{
	background-image: url(../image/Bot/social.png);
	background-position: 0 0;
}

.share a div#pi{
	background-image: url(../image/Bot/social.png);
	background-position: -30px 0;
}

.share a div#face{
	background-image: url(../image/Bot/social.png);
	background-position: -61px 0;
}

.share a div#google{
	background-image: url(../image/Bot/social.png);
	background-position: -92px 0;
}

.share a div#youtube{
	background-image: url(../image/Bot/social.png);
	background-position: -122px 0;
}
.log_in_form{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 13px;
	font-family: Calibri;
}
.log_in_form div{
	float: left;
	margin-left: 10px;
}
.log_in_form div a{
	color: #777;
}
.log_in_form div a:hover{
	text-decoration: underline;
}